body {
  
    background-image:url(https://wallpaperplay.com/walls/full/a/5/9/37701.jpg);
    background-size:auto 150vh;
    font-family:Arial;
    height:100vh;
  }
  ul{
   }
.menu li{ margin:10px;
  border: 1px solid teal;
padding:2px;
heigth:auto px;
width:auto px;} 
  .menu{
    background-color:rgb(0.5, 0.89, 0.158, 0.15);
  }
  .menu li{
    box-shadow: 10px 8px 15px rgb(18, 203, 209);
  }

  .menu ul{
    display:flex;
    justify-content:space-around;
  }
  .menu li{
    list-style:none; 
  }
  
  a {
  color:teal;  
     text-decoration:none;
    }
  a:hover{
    text-decoration:underline;
  }
  .site-subtitle,
  .site-title{
    color:whitesmoke;
    text-align:center;
    }
  .site-subtitle{
    font-style:italic;
    
  }